# Python cache
__pycache__/
*.pyc

# Virtualenv
venv/
ENV/

# IDE / editor
.vscode/
.idea/

# Environment variable
.env

# Docker named volumes
postgres_data/

# Uploads static (user-uploaded files)
static/uploads/

# Database file (kalau pernah pakai SQLite)
*.sqlite3

# Mac system
.DS_Store

# ZAP reports
zap-reports/

# Compose override
docker-compose.override.yml
